{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Публичный</th>
                </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td><a href="{% url 'snippet' snippet_id=snippet.id %}">{{ snippet.name }}</a>
                        <a href="{% url 'snippet_delete' snippet_id=snippet.id %}">
                        <i class="fa-sharp fa-regular fa-rectangle-xmark"></i></a>
                        <a href="{% url 'snippet_edit' snippet_id=snippet.id %}">
                        <i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                    <td>{{ snippet.creation_date|date:"M d, Y" }}</td>
                    <td>{{ snippet.user|default:"Анонимный пользователь"}}</td>
                    <td>{{ snippet.public }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="...">Всего сниппетов: {{ snippets.count }}</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
